.root {
    -fx-background-color: #073B4C;
    -fx-padding:0 0 0 0;
    -fx-alignment: center;
}

.banner {
    -fx-background-color: #EF476F;
    -fx-padding: 5 0 5 0;
}

.banner-text {
    -fx-text-fill: #073B4C;
    -fx-font: 45px Rowdies;
}

.info-message {
    -fx-text-fill: #EF476F;
    -fx-font: 20px Rowdies;
    -fx-padding: 5 0 5 0;
}

.menu-text {
    -fx-text-fill: #EF476F;
    -fx-font: 30px Rowdies;
    -fx-underline: true;
}

.menu-list{
    -fx-padding: 10 0 20 0;
    -fx-background-color: #073B4C;
    -fx-background-radius: 20;
}

.menu-list .list-cell {
    -fx-cell-size: 30;
    -fx-padding: 0 5 0 5;
    -fx-alignment: center;
    -fx-text-fill: #EF476F;
    -fx-font: 22px Rowdies;
    -fx-background-color: #073B4C;
    -fx-background-radius: 20;
}
.menu-list .list-cell:filled:hover {
    -fx-text-fill: #FFD166;
}

.menu-list .list-cell:selected, .menu-list .list-cell:selected:hover {
    -fx-text-fill: #06D6A0;
}
