.root {
    -fx-background-color: #073B4C;
    -fx-padding:20 0 0 0;

}

.banner {
    -fx-background-color: #EF476F;
    -fx-padding: 5 0 5 0;
}

.banner-text {
    -fx-text-fill: #073B4C;
    -fx-font: 45px Rowdies;
}