.root {
    -fx-background-color: #073B4C;
    -fx-alignment: center;
    -fx-spacing: 20;
}

.button
 {
    -fx-background-color: #EF476F;
    -fx-text-fill: #073B4C;
    -fx-font: 15px Rowdies;
 }

 .button:hover {
    -fx-background-color: #FFD166;
 }