@font-face {
    src: url('PixelFont.ttf');
}
@font-face {
    src: url('/resources/PrStart.ttf');
}
.root {
    -fx-background-image: url("/resources/gameBackground.png");
    -fx-padding: -10 0 0 0;
    -fx-alignment: center;
}

.banner {
    -fx-background-image: url("/resources/banner.png");
    -fx-padding: 5 0 10 0;
    -fx-border-style: solid none solid none;
    -fx-border-width: 1 0 1 0;
    -fx-border-color: white;
}

.banner-text {
    -fx-text-fill: #edf1f5;
    -fx-font-family: 'Press Start';
    -fx-font-size: 40px ;
}

.info-message {
    -fx-text-fill:#2596be;
    -fx-font-family: 'Super Mario Bros. 2';
    -fx-font-size: 15px;
    -fx-padding: 5 0 5 0;
}

.menu-text {
    -fx-text-fill: #118AB2;
    -fx-font-family: 'Super Mario Bros. 2';
    -fx-font-size: 25px;
    -fx-padding: 0 0 3 0;
}

.menu-list{
    -fx-padding: 10 0 20 0;
    -fx-background-color: rgba(7,59,76,0.85);
    -fx-background-radius: 20;
}

.menu-list .list-cell {
    -fx-cell-size: 30;
    -fx-padding: 0 5 0 5;
    -fx-alignment: center;
    -fx-text-fill: #b6969d;
    -fx-font-family: 'Super Mario Bros. 2';
    -fx-font-size: 20px;
    -fx-background-color:transparent;
}
.menu-list .list-cell:filled:hover {
    -fx-text-fill: #FFD166;
}

.menu-list .list-cell:selected, .menu-list .list-cell:selected:hover {
    -fx-text-fill: #06D6A0;
}

#menuBar {
    -fx-background-color: rgba(7,59,76,0.85);
    -fx-text-fill: white;
}

.menu .label{
    -fx-text-fill: white;
}

.menu-item .label{
    -fx-text-fill: white;
}

.menu-item:hovered {
    -fx-background-color: red;
}

.context-menu {
    -fx-background-color: rgba(7,59,76,0.85);
}


