@font-face {
    src: url('PixelFont.ttf');
}
@font-face {
    src: url('/resources/PrStart.ttf');
}
.root {
    -fx-background-color: rgb(12,17,34);
    -fx-padding: -8 0 0 0;
    -fx-radius: 5;
    -fx-alignment: center;
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-spacing: 5px
}

.label {
	-fx-text-fill: white;
	-fx-font-family: 'Super Mario Bros. 2';
}

.button
 {
    -fx-background-color: rgb(7,59,76);
    -fx-text-fill: #b6969d;
    -fx-font-family: 'Super Mario Bros. 2';
    -fx-font-size: 15px;
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-effect: dropshadow( one-pass-box , black , 10 , 0 , 2 , 2 );
 }

 .button:hover {
    -fx-background-color: #FFD166;
    -fx-effect: dropshadow( one-pass-box , transparent , 10 , 0 , 2 , 2 );
 }